@media all and (max-width: 1200px) { /* screen size until 1200px */
  body {
    font-size: 1.6em; /* 1.5x default size */
  }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
  body {
    font-size: 1.3em; /* 1.2x default size */
  }
}

@media all and (max-width: 500px) { /* screen size until 500px */
  body {
    font-size: 0.9em; /* 0.8x default size */
  }
}

.thumb {
  margin-bottom: 30px;
}

.img-responsive{
  max-height: 200px;
  min-height: 200px;
}

.thumbnail.with-caption {
  display: inline-block;
  background: #f5f5f5;
}

.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}

.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}

.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

 /* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
}

#photoBackground{
  background-image: url("../images/photoBackground2.jpg");
  background-size: cover;
}

footer {
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

footer a:link {
    color: #aaa;
}

footer a:visited {
    color: #aaa;
}

footer a:hover  {
    color: #4cae4c;
}

#alex{
  vertical-align: 25%;
}